$primary: #326dee;
$secondary: #1ac888;
$error: #d32752;
$warning: #f6c31c;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "warning": $warning,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #9900ff,
    "gray": #808080,
    "black": black,
    "white": white,
);


$padding-1: 0.75rem;
$margin-1: 0.75rem;

$border-thickness-1: 1px;
$border-radius-1: 20px;

$box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

$font-size-md: 1rem;
$font-size-sm: $font-size-md * 0.75;
$font-size-lg: $font-size-md * 1.5;
$font-size-xl: $font-size-md * 2;
$font-size-xxl: $font-size-md * 3;
