@use 'sass:math';

.card {
    display: block;
    padding: $padding-1;
    border: $border-thickness-1 solid #ddd;
    box-shadow: $box-shadow;
    border-radius: math.div($border-radius-1, 4);

    .card-title {
        font-size: $font-size-lg;
        padding-bottom: $padding-1;
        font-weight: bold;
    }

    .card-body {
        font-size: $font-size-md;

        a {
            text-decoration: underline;
        }
    }
}